@media screen and (max-width: 1121px) {
    .top_list_text{
        /*width: 50px !important;*/
        padding-top: 18px;
        font-size: 12px !important;
    }
}
@media screen and (max-width: 1066px) {
    .products{
        width: 370px !important;
    }
    .product_card{
        margin: 0 0 0 0 !important;
        margin-bottom: 10px !important;
    }
}
@media (max-width: 768px) {
    .call-mobile { display: block !important; }
    .call-desktop { display: none !important; }
}
@media screen and (max-width: 750px) {
    #up{
        bottom: 25% !important;
    }
    .project_container{
        min-height: auto !important;
    }
    .first_block div {
        padding-right: 10px !important;
    }
    .top_list{
        width: 95% !important;
    }
    .lang_button {
        font-size: 8px !important;
    }
    .lang_buttons_container {
        /*min-width: 40px;*/
        margin-right: 10px !important;
    }
    .product_card {
        width: 335px !important;
    }
    .product_title{
        width: 335px !important;
    }
    .products {
        width: 340px !important;
    }
    .carousel_text{
        font-size: 20px !important;
        top: 405px !important;
        left: 27px !important;
    }

    #main_logo img{
        padding-top: 28px !important;
    }

    #address{
        margin-right: 10px !important;
    }

    .top_list img{
        height: 34px !important;
        width: 40px !important;
    }

    .top_list_text{
        /*width: 50px !important;*/
        padding-top: 35px !important;
        font-size: 13px !important;
    }
    .follow_us{
        font-size: 250% !important;
        padding-top: 18px;
    }

    .follow_links{
        margin-left: 10px !important;
    }

}
body{
    font-family: "Sansation", sans-serif;
    font-optical-sizing: auto;
    /*font-weight: <weight>;*/
    font-style: normal;
    margin: 0;
}
#sync1 .item {
    /*margin: 5px;*/
    color: #fff;
    border-radius: 3px;
    text-align: center;
}
.owl-theme .owl-nav {
    /*default owl-theme theme reset .disabled:hover links */
}
.owl-theme .owl-nav [class*="owl-"] {
    transition: all 0.3s ease;
}
.owl-theme .owl-nav [class*="owl-"].disabled:hover {
    background-color: #d6d6d6;
}
#sync1.owl-theme {
    position: relative;
}
#sync1.owl-theme .owl-next,
#sync1.owl-theme .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
}
#sync1.owl-theme .owl-prev {
    left: 10px;
}
#sync1.owl-theme .owl-next {
    right: 10px;
}
#sync2{
    max-width: 1000px;
}
.item2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#sync2.owl-theme {
    position: relative;
}
#sync2.owl-theme .owl-next,
#sync2.owl-theme .owl-prev {
    width: 22px;
    height: 40px;
    margin-top: -20px;
    position: absolute;
    top: 50%;
}
#sync2.owl-theme .owl-prev {
    left: 10px;
}
#sync2.owl-theme .owl-next {
    right: 10px;
}
.carousel_background{
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.carousel_background_project{
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.top_list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 66%;
}

.first_block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 608px;
    /*padding-right: 20px;*/
}

.first_block div{
    padding-right: 20px;
}

.top_list img{
    width: 80px;
    height: 67px;
}

.go_to_the_right{
    margin-left: auto;  /* Магия! */
    margin-right: 0;   /* Сбрасываем правый отступ для крайнего элемента */
}

a{
    all: unset
}

h1{
    all: unset
}

p {
    all: unset
}

a:hover {
    color: #1D546C;
    cursor: pointer;
}
.container{
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories_general_title{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    color: #000057;
}

.categories_title{
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 60%;
    color: #000057;
}

.categories_title:hover{
    cursor: pointer;
    font-weight: bold;
    color: #771919;
    border-bottom: 3px solid #771919;
    }
.categories{
    min-height: 25px;
    flex-wrap: wrap;
    max-width: 60%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.products{
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.product_card{
    /*background-color: #F9F9F9;*/
    background-color: #eaecec;
    border-radius: 10px;
    width: 370px;
    height: 390px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 10px 10px;
}

.product_card:hover{
    cursor: pointer;
    box-shadow: 0 0 7px 3px #c3c4c4;
}

.product_img{
    display: flex;
    align-items: center;
    justify-content: center;
    /*height: 100px;*/
}

.product_img img{
    height: 230px;
    width: 300px;
    object-fit: cover;
    padding: 10px;
}

.product_title{
    text-align: center;
    padding-top: 30px;
    width: 370px;
    border-top: 1px solid #a1a1a1  ;
    font-size: 16px;
    font-weight: bold;
}
.footer {
    width: 100%;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.copyright {
    display: flex;
    flex-direction: row;
    max-width: 60%;
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
    margin-bottom: -31px;
}

.follow_us{
    width: 100%;
    /*height: 200px;*/
    /*background-color: #000057;*/
    background-color: #0C2B4E;
    font-family: "Fugaz One", sans-serif;
    color: white;
    font-size: 600%;
    display: flex;
    justify-content: space-around;
}

.follow_links{
    margin-left: 50px;
}

.carousel_text{
    font-family: "Fugaz One", sans-serif;
    font-size: 50px;
    position: absolute;
    top: 50px;
    left: 50px;
    border-radius: 20px;
    padding: 10px;
    /*background-color: white;*/
    color: white;
    z-index: 20;
    text-align: left;
    text-shadow: 0 0 10px #0C2B4E;
}

.top_bar{
    position: sticky;
    top: 0;
    z-index: 50;
    display: flex;
    justify-content: center;
    /*background-color: #313647;*/
    background-color: #0C2B4E;
    color: white;
    height: 90px;
}

#up{
    position: sticky;
    bottom: 15%;
    left: 90%;
    z-index: 50;
    margin-right: 10px;
    width: 25px;
    background-color: silver;
    /*opacity: 50%;*/
    padding: 20px;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 2s ease;
}

#up.show {
    opacity: 0.5;
    visibility: visible;
}

#up:hover {
    cursor: pointer;
}

#address{
    margin-right: 6%;
}

.top_list_text{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: bold;
    padding-top: 27px;
    /* width: 270px; */
    font-size: 30px;
}

.load_more{
    display: flex;
    align-self: center;
    background-color: silver;
    color: #676666;
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;

    margin-top: 50px;
}

.load_more:hover{
    cursor: pointer;
    background-color: #b3b2b2;
}

.call-mobile{
    background-color: #3e813e;
    color: white;
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    display: none;
}

.call-mobile:hover{
    cursor: pointer;
    color: white;
    background-color: #254e25;
}

.call-desktop{
    background-color: #3e813e;
    color: white;
    padding: 20px;
    border-radius: 20px;
    font-weight: bold;
    margin-bottom: 100px;
    display: block;
}

#logo{
    padding-top: 10px;
}

#about{
margin-right: 8%;
margin-left: 8%
}

#works{
    margin-right: 8%
}

.project_container{
    min-height: 1000px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: -50px;
}

.long_description{
    background-color: #F9F9F9;
    border-radius: 20px;
    padding: 10px;
    max-width: 900px;
    margin-top: 40px;
}

.project_title{
    /*align-self: flex-start;*/
    padding: 10px;
    font-weight: bold;
    font-size: 30px;
}

.lang_buttons_container{
    /*min-width: 40px;*/
    margin-right: 20px;
    margin-top: -3px;
}

.lang_button{
    font-size: 25px;
    color: #0C2B4E;
    padding: 5px;
    background-color: white;
}

.lang_button:hover{
    cursor: pointer;
    background-color: silver;
}

